<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
</head>
<body>
    <form th:action="@{/movie/add}" method="post" th:object="${movieForm}">
        <p>Title : <label><input type="text" th:field="*{title}"/></label></p>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <p>Gender : <select th:field = "*{genre}">
            <option th:value = "COMEDIE" th:text="Comédie"></option>
            <option th:value = "HORREUR" th:text="Horreur"></option>
            <option th:value = "THRILLER" th:text="Thriller"></option>
            <option th:value = "ACTION" th:text="Action"></option>
            <option th:value = "ROMANTIQUE" th:text="Romantique"></option>
            <option th:value = "DRAME" th:text="Drame"></option>
            <option th:value = "ANIMATION" th:text="Animation"></option>
        </select>
        <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>

        </p>
<!--        <p>Gender : <label><input type="text" th:field="*{genre}"/></label></p>-->
        <p>Description : <label><textarea th:field="*{description}"></textarea></label></p>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

        <input type="submit" value="send"/>
    </form>
</body>
</html>