<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List des DVD</title>
</head>
<body>
    <h1>DVDStore : Service d'ajout de dvd</h1>
    <h2>Ajouter un dvd : </h2>

    <ul>
        <li><a href="add-movie-form">Ajout de DVD</a></li>
    </ul>

    <table border="1">
        <tr th:each="movie: ${movie}">
            <td>
                <a th:href="@{/movie/{id} (id = ${movie.id})}" th:text="${movie.title}"></a>
            </td>
            <td th:text="${movie.genre}"></td>
        </tr>
    </table>
</body>
</html>